@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-urban;

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}

@layer base {
  :root {
    --primaryColor: #4f5de4;
    --secondaryColor: #f57005;
    --headingColor: #2a254d;
    --textColor: #697585;
    --boxShadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.2);
  }
}

@layer utilities {
  .backgroundChange path {
    animation: change 2s alternate-reverse infinite linear;
    -webkit-animation: change 2s alternate-reverse infinite linear;
  }

  @keyframes change {
    from {
      fill: var(--primaryColor);
    }

    to {
      fill: var(--secondaryColor);
    }
  }

  .movement {
    animation: move 3s alternate-reverse infinite linear;
    -webkit-animation: move 3s alternate-reverse infinite linear;
  }

  @keyframes move {
    from {
      transform: translateX(0px) rotate(0deg);
      -webkit-transform: translateX(0px) rotate(0deg);
      -moz-transform: translateX(0px) rotate(0deg);
      -ms-transform: translateX(0px) rotate(0deg);
      -o-transform: translateX(0px) rotate(0deg);
    }

    to {
      transform: translateX(10px) rotate(5deg);
      -webkit-transform: translateX(10px) rotate(5deg);
      -moz-transform: translateX(10px) rotate(5deg);
      -ms-transform: translateX(10px) rotate(5deg);
      -o-transform: translateX(10px) rotate(5deg);
    }
  }

  .rotation {
    animation: rotate 10s infinite linear;
    -webkit-animation: rotate 10s infinite linear;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
  .scaling {
    animation: scale 4s alternate-reverse infinite linear;
    -webkit-animation: scale 4s alternate-reverse infinite linear;
  }

  @keyframes scale {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.1);
    }
  }
  .courseTitle {
    background-image: linear-gradient(var(--headingColor), var(--headingColor)),
      linear-gradient(var(--headingColor), var(--headingColor));
    background-size: 0% 1px, 0% 1px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: all 0.4s ease;
  }
  .courseTitleHover:hover .courseTitle {
    background-size: 100% 1px, 100% 1px;
  }
  .mentorShape{
    clip-path: polygon(0 56%, 100% 25%, 100% 100%, 0% 100%);
  }
}

@layer components {
  .btn {
    @apply font-bold text-lg text-white py-5 px-12 rounded-lg inline-flex items-center gap-2 relative overflow-hidden;
  }

  .btn::after {
    content: "";
    position: absolute;
    width: 33px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: white;
    opacity: 0.21;
    clip-path: polygon(72% 0, 100% 0, 100% 100%, 0% 100%);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }

  .btn:hover::after {
    width: 100%;
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
  }

  
}
